@import '~bootstrap/scss/bootstrap';
@import "components";

#root
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color:#777;
}


$theme-colors:(
  "color-1":#8d8741,
  "color-2":#659dbd,
  "color-3":#daad86,
  "color-4":#bc986a,
  "color-5":#fbeec1
);

.error_class{
  padding: 5px;
  color:#fff;
  background-color: #d9534f;
}
.btn-login
{
    background-color: theme-color("color-2");
}

.header
{
  justify-content:space-between;
  display:flex;
  align-items: center;
  background-color: theme-color("color-4");
  padding-left: 1rem;
  font-size:3rem;
  height:5rem;
}
.header span a
{
    color:#fff;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation a
{
  color:#fff;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation ul
{
  list-style-type: none;
  padding-right: 1rem;
}
.navigation li
{
  display: inline;
  padding: 1rem;
}

.container_form
{
   margin:15px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 500px;
}
.box
{
  width: 500px;
  margin: 5px;
  border: 2px solid theme-color("color-3");
  border-radius:25px;
  padding:2rem;
  font-size:150%;
  flex:0.5;
  color:#fff;
  background-color: theme-color("color-2");
  box-shadow:0 8px 6px theme-color("color-2");
}


.review-page{
  background-color: theme-color("color-2");
}
